<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
    bootstrap="Tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="Doesntmattr MongoDB Migrations Bundle Tests">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">DependencyInjection</directory>
            <directory suffix=".php">Command</directory>
            <file>MongoDBMigrationsBundle.php</file>
        </whitelist>
    </filter>
</phpunit>
